[logger]
level = DEBUG

[cron]
hourly_pull = False

[settings]
password =

# Restart is required after connecting to spotify via settings page for stream to start working
[spotify]
client_id =
client_secret =
redirect_uri =
# Range of % complete song needs to be in when changed to be considered a 'Skip'. Used to train model for 'liked' songs
skip_min_threshold = .05
skip_max_threshold = .80
# Min seconds song has to be on player for it to be inserted into db (ignore quick skips)
min_secs_listened = 15
# interval at which spotify 'currently_playing' will be polled, .5 = 2 requests per second
poll_interval_seconds = .5

[peloton]
username =
password =

[stryd]
username =
password =
compare_against_age=1
compare_against_gender=1
compare_against_race_event=1

[strava]
activities_after_date = 2018-01-01T00:00:00Z
client_id =
client_secret =
redirect_uri = http://127.0.0.1:8050/settings?strava

[oura]
redirect_uri = http://127.0.0.1:8050/settings?oura
client_id =
client_secret =
days_back = 7
white = rgb(220, 220, 220)
teal = rgb(134, 201, 250)
light_blue = rgb(85, 139, 189)
dark_blue = rgb(43, 70, 119)
orange = rgb(234, 109, 95)

[withings]
redirect_uri = http://127.0.0.1:8050/settings?withings
client_id =
client_secret =

[nextcloud]
url =
username =
password =
fitbod_path =

[timezone]
timezone = America/New_York

[dashboard]
transition=2000