[logger]
level = DEBUG

[cron]
hourly_pull = False

[settings]
password =

[spotify]
client_id =
client_secret =
redirect_uri =
# Range of % complete song needs to be in when changed to be considered a 'Skip'. Used to train model for 'liked' songs
skip_min_threshold = .05
skip_max_threshold = .80
# Min seconds song has to be on player for it to be inserted into db (ignore quick skips)
min_secs_listened = 5
# interval at which spotify 'currently_playing' will be polled
poll_interval_seconds = 1

[peloton]
username =
password =

[stryd]
username =
password =
compare_against_age=1
compare_against_gender=1
compare_against_race_event=1

[strava]
activities_after_date = 2018-01-01T00:00:00Z
client_id =
client_secret =
redirect_uri = http://127.0.0.1:8050/settings?strava

[oura]
redirect_uri = http://127.0.0.1:8050/settings?oura
client_id =
client_secret =
days_back = 7
white = rgb(220, 220, 220)
teal = rgb(100, 217, 236)
light_blue = rgb(56, 128, 139)
dark_blue = rgb(39, 77, 86)
orange = rgb(217,100,43)

[withings]
redirect_uri = http://127.0.0.1:8050/settings?withings
client_id =
client_secret =

[nextcloud]
url =
username =
password =
fitbod_path =

[timezone]
timezone = America/New_York

[dashboard]
transition=2000